html, body {
  height: 100%;
  background-color: #181F2F;
}

h2 {
  color: #5CB85C;
}

.wrapper, .row{
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.sidebar {
  background-color:#D7D3D0;
  height:100%;
  position:fixed;
  right:0;
}

.bottom {
  position: fixed;
  float: left;
  bottom: 0;
  width: 80%;
}

#messages {
  background-color: #D7D3D0;
  border-radius: 10px;
  opacity: 0.9;
  width: 83%;
  margin-bottom: 2.6em;
  position: static;
}

.participantPhoto {
  width: 15%;
  border-radius: 50%;
}

.msgPhoto {
  width: 2%;
  border-radius: 50%;
}
